@import "~stream-chat-react/dist/css/v2/index.css";

.str-chat {
  --str-chat__channel-preview-active-background-color: #f5f5f5;
}

.str-chat-channel {
  flex-grow: 1;
  padding: 1rem;
  padding-top: 0.5rem;
}

.str-chat__channel-preview-messenger {
  padding: 1rem;
  padding-right: 1.5rem;
}
